
{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}


    Today is {{data}}

    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Cras rutrum libero et arcu aliquet luctus in vitae arcu.
        Sed nec justo metus. Ut ex odio, aliquam vitae tincidunt suscipit, vulputate eu lacus.
        Quisque vestibulum eros vel varius ultricies. Ut porttitor metus vitae suscipit commodo.
        Ut viverra purus orci, at iaculis est cursus non. Sed mi metus, accumsan aliquet urna eu,
        luctus scelerisque sapien. Vivamus euismod sollicitudin massa eu accumsan.
         Suspendisse non eros sollicitudin, porttitor justo ac, molestie erat. In hac habitasse platea dictumst.
    </p>





{%  endblock %}